.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #1976d2, #42a5f5);
}

.auth-card {
  width: 350px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  background: #fff;
}

.full-width {
  width: 100%;
  margin-top: 10px;
}

.auth-links {
  margin-top: 15px;
}

.auth-links a {
  color: #1976d2;
  cursor: pointer;
  text-decoration: none;
}

.google-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
